<div class="restaurant-info-page">

    <div class="header-image">
        <img src="assets/images/restaurant.jpg" alt="Restaurant Cover" />
    </div>


    <div class="table-info-card">
        <div class="info-row">
            <mat-icon>table_restaurant</mat-icon>
            <span>Masa: <strong>12</strong></span>
        </div>
        <hr class="separator-line" />
        <div class="info-row">
            <img class="waiter-avatar" src="assets/images/waiter.jpg" alt="Waiter" />
            <span>Ospătar: <strong>Andrei Popescu</strong></span>
        </div>

        <button mat-stroked-button class="contact-button">
            <mat-icon>sms</mat-icon>
            Contactează ospătarul
        </button>
    </div>


    <div class="details-section">
        <div class="info-row">
            <mat-icon>phone</mat-icon>
            <span>+40 744 123 456</span>
        </div>

        <div class="info-row">
            <mat-icon>location_on</mat-icon>
            <span>Str. Club Street nr. 12, București</span>
        </div>

        <div class="info-row">
            <mat-icon>schedule</mat-icon>
            <span>Program: 10:00 - 22:00</span>
        </div>
    </div>
</div>