<mat-card class="restaurant-card">
    <div class="card-header">
        <div class="image-container">
            <img mat-card-avatar src="assets/images/burger.jpg" alt="Food Icon" />
        </div>
        <div class="text-content">
            <div class="title-row">
                <h3 class="name">Little Creatures - Club Street</h3>
                <button mat-icon-button color="warn" aria-label="Favorite">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>

        </div>
    </div>

<div class="bottom">
  <button class="add-to-cart-btn">
        <mat-icon>shopping_cart</mat-icon>
        Adauga in cos
    </button>

</div>
    

</mat-card>