<mat-card class="card" (click)="openDetails()">
  <img #cardElement mat-card-image [src]="product.imageUrl" alt="{{product.name}}" />

  <mat-card-content class="mat-card-content">
 
    <h3 class="title">{{product.name}}</h3>
    <p class="subtitle">{{product.shortDescription}}</p>

    <div class="card-footer">
      <div class="price">
        <mat-icon color="warn">payments</mat-icon>
        <span>{{product.price.toFixed(2)}}  RON</span>
      </div>
 
    </div>
  </mat-card-content>
</mat-card>
