<header class="top-header">
  <div class="header-top">
    <div>
      <h1 class="logo">Deliseya</h1>
      <p class="subtitle">Comanda mancarea ta favorita!</p>
    </div>
  </div>

  <div class="search-section">
    <div class="search-box">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search" />
    </div>
    <button class="filter-button">
      <mat-icon>tune</mat-icon>
    </button>
  </div>

  <div class="category-bar">
    <button class="pill active">Toate</button>
    <button class="pill">Bauturi</button>
    <button class="pill">Aperitive</button>
    <button class="pill">Ciorbe si supe</button>
    <button class="pill">Fel principal</button>
  </div>
</header>

<!-- <div class="main-content">
  @for (prod of products$ | async; track $index){
    
  <app-product-card [product]="prod"></app-product-card>

  }@empty {
  <div>Nu sunt produse disponibile</div>
  }

</div> -->

<div class="main-content">
  <ng-container *ngIf="products$ | async as products; else noProducts">
    <ng-container *ngIf="products.length > 0; else noProducts">
      <div *ngFor="let prod of products">
        <app-product-card [product]="prod"></app-product-card>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #noProducts>
    <div>Nu sunt produse disponibile</div>
  </ng-template>
</div>
