<header class="top-header">
  <div class="header-top">
    <div>
      <h1 class="logo">Deliseya</h1>
      <p class="subtitle">Comanda mancarea ta favorita!</p>
    </div>
  </div>

  <div class="search-section">
    <div class="search-box">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Caută produse..." (input)="onSearch($event)" />
    </div>
    <button class="filter-button">
      <mat-icon>tune</mat-icon>
    </button>
  </div>

  <div class="category-bar" *ngIf="categories$ | async as categories; else loadingCategories">
    <button class="pill" [ngClass]="{ active: selectedCategory === null }" (click)="scrollToTop()">
      Toate
    </button>

    <button class="pill" *ngFor="let category of categories" [ngClass]="{ active: selectedCategory === category.name }"
      (click)="scrollToCategory(category.name)">
      {{ category.name }}
    </button>
  </div>

  <ng-template #loadingCategories>
    <div class="category-bar">
      <span>Loading categories...</span>
    </div>
  </ng-template>

</header>



<div class="products">
  <ng-container *ngIf="products$ | async as products; else noProducts">
    <ng-container *ngIf="products.length > 0; else noProducts">
      <ng-container *ngIf="categories$ | async as categories">
        <div *ngFor="let category of categories">
          <h2 *ngIf="!search" [id]="categoryAnchorId(category.name)">{{ category.name }}</h2>
          <div class="main-content">
            <ng-container *ngFor="let prod of products">
              <ng-container *ngIf="prod.category === category.name">
                <app-product-card [product]="prod"></app-product-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #noProducts>
    <div class="loading" *ngIf="loading$">
      <img src="assets/loading.gif" alt="">
    </div>
  </ng-template>
</div>