.favorites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  background-color: #fff;
  max-width: 900px;

  padding: 1rem;
  background: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);




  .left {
    display: flex;
    align-items: center;

    .text {
      margin-left: 0.75rem;

      h2 {
        font-family: 'Playfair Display', serif;
        margin: 0;
        font-size: 1.6rem;
        font-weight: 600;
      }

      p {
        margin: 0.125rem 0 0;
        font-size: 0.875rem;
        color: #777;
      }
    }
  }

  .right {
    button {
      color: #ffffff;
    }
  }
}



h2 {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

.favorite-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 1rem rgba(0, 0, 0, 0.1);

  .favorite-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 0.5rem;
    flex-shrink: 0;
  }

  .favorite-details {
    flex: 1;
    display: flex;
    flex-direction: column;

    h3 {
      margin: 0 0 0.25rem 0;
      font-size: 1.1rem;
      color: #222;
    }

    p {
      margin: 0 0 0.5rem 0;
      color: #666;
      font-size: 0.9rem;
    }

    .favorite-price {
      font-weight: bold;
      color: #009688;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .buttons {
      display: flex;
      gap: 0.5rem;
      margin-top: 0.3rem;

      button {
        flex: 1;
        padding: 0.4rem 0;
        border: none;
        color: white;
        border-radius: 0.7rem;
        cursor: pointer;
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.2s ease;

        mat-icon {
          margin: 0;
        }

        &.remove-btn {
          background: #e53935;

          &:hover {
            background: #d32f2f;
          }
        }

        &.add-btn {
          background: #673285; // mov

          &:hover {
            background: #3c1f4d;
          }
        }
      }
    }
  }
}


.main{
    padding-bottom: 6rem;
}