.favorites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  background-color: #fff;

  .filter-button {
    background-color: #673285;
    border: none;
    border-radius: 0.75rem;
    padding: 0.5rem;
    height: 2.8125rem;
    width: 2.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    display: flex;
    align-items: center;

    .text {
      margin-left: 0.75rem;

      h2 {
        font-family: 'Playfair Display', serif;
        margin: 0;
        font-size: 1.6rem;
        font-weight: 600;
      }

      p {
        margin: 0.125rem 0 0;
        font-size: 0.875rem;
        color: #777;
      }
    }
  }

  .right {
    button {
      color: #ffffff;
    }
  }
}

.main-content {
  margin-top: 1.5rem;
  padding: 1rem;
}
